/* Base */

body {
    line-height: 1.7;
    color: #8c92a0;
    font-weight: 300;
    font-size: 16px;
    color: black;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

::selection {
    background: #000;
    color: #fff;
}

#inv_mess {
    /* display: none; */
    color: firebrick;
    font-weight: 700;
    padding-left: 5%;
}

#coupon_apl_btn,
#coupon_rmv_btn {
    display: none;
}

#coupon_field::placeholder {
    color: rgb(156, 156, 156);
}

.fa-check-circle {
    color: green;
}

.add_bg .site-section {
    padding-top: 2% !important;
}

.add_frm_container {
    opacity: 0.9;
    color: black !important;
    font-weight: 400;
}

.add_bg {
    background-image: url('../images/add_bg.svg');
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

.add_form {
    background-color: #f8f9fa;
    width: 100%;
    padding: 4%;
    box-shadow: 10px 10px 10px 10px grey;
    border-radius: 10px;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover {
    text-decoration: none;
}

#cg_pwd_btn {
    display: none;
}

.link_up {
    cursor: pointer;
    color: #144282;
    padding-left: 2%;
    font-weight: 400;
}

.text-black {
    color: #000;
}

.site-wrap:before {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}

.offcanvas-menu .site-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}

.offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible;
}

.btn {
    height: 43px;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    text-transform: uppercase;
    font-size: 13px;
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn.btn-black {
    padding: 12px 30px;
    background: #000;
    color: #fff;
}

.btn.btn-black:hover,
.btn.btn-black:active,
.btn.btn-black:focus {
    background-color: #333333;
}

.form-control {
    height: 43px;
}

.form-control:active,
.form-control:focus {
    border-color: #207dff;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.site-section {
    padding: 2.5em 0;
}

@media (min-width: 768px) {
    .site-section {
        padding: 5em 0;
    }
}

.site-section.site-section-sm {
    padding: 4em 0;
}

.site-section-heading {
    font-size: 30px;
    color: #25262a;
    position: relative;
}

.site-section-heading:before {
    display: none;
    content: "";
    left: 0%;
    top: 0;
    position: absolute;
    width: 40px;
    height: 2px;
    background: #207dff;
}

.site-section-heading.text-center:before {
    display: none;
    content: "";
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: #207dff;
}

.border-top {
    border: 1px solid #6e6f701f !important;
}

.site-footer {
    padding: 4em 0;
}

.site-footer ul li {
    margin-bottom: 10px;
}

.site-footer ul li a {
    color: #5c626e;
}

.site-footer ul li a:hover {
    color: #207dff;
}

.site-footer .footer-heading {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 1rem;
}


/* Navbar */

.site-logo a {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 22px;
    color: #000 !important;
    font-weight: 900;
}

.site-logo a:hover {
    text-decoration: none;
}

.icons-btn {
    display: inline-block;
    text-align: center;
}

.icons-btn span {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
}

@media (max-width: 991.98px) {
    .icons-btn span {
        width: 24px;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.heade_p {
    display: flex;
    justify-content: space-between;
}

.pwd {
    margin-top: -20px;
}

.site-menu-toggle {
    display: block;
    text-align: center;
    font-size: 28px;
    height: 40px;
    width: 40px;
    line-height: 40px;
}

.site-menu-toggle>span {
    top: 5px;
    position: relative;
}

.product {
    position: relative;
}

.site-navbar {
    height: 10vh;
    margin-bottom: 0px;
    z-index: 1999;
    position: fixed;
    top: 0;
    width: 100%;
    background: #f8f8f8 !important;
}

@media(max-width:768px) {
    .single_product_details_area .carousel-inner {
        height: 62vh;
    }
}

.site-navbar.position-relative {
    position: fixed !important;
    background: #f9f9f9 !important;
}

.site-navbar.transparent {
    background: transparent;
}

.site-navbar .site-navbar-top {
    border-bottom: 1px solid #f3f3f4;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

@media (min-width: 768px) {
    .site-navbar .site-navbar-top {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.site-navbar .site-search-icon a span {
    display: inline-block;
    margin-right: 10px;
}

.site-navbar .site-search-icon a:hover {
    text-decoration: none;
}

.site-navbar a {
    color: #000;
}

.site-navbar a:hover {
    color: #000;
}

.site-navbar .icon {
    font-size: 20px;
}

.site-navbar .site-top-icons ul,
.site-navbar .site-top-icons ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-navbar .site-top-icons ul li {
    display: inline-block;
}

.site-navbar .site-top-icons ul li a {
    margin-right: 10px;
}

.site-navbar .site-top-icons ul li a.site-cart {
    display: block;
    position: relative;
}

.site-navbar .site-top-icons ul li a.site-cart .count {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -15px;
    margin-top: -20px;
    font-size: 13px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    display: block;
    text-align: center;
    background: #207dff;
    color: #fff;
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
}

.site-navbar .site-top-icons ul li a:hover .count {
    -webkit-box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.3) !important;
    margin-top: -22px;
}

.site-navbar .site-top-icons ul li:last-child a {
    padding-right: 0;
}

.site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid #f3f3f4 !important;
}

.site-navbar .site-navigation .site-menu {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active>a {
    color: #207dff;
}

.site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    font-size: 15px;
    display: inline-block;
}

.site-navbar .site-navigation .site-menu>li {
    display: inline-block;
    padding: 10px 5px;
}

.site-navbar .site-navigation .site-menu>li>a {
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #25262a;
    font-size: 15px;
    text-decoration: none !important;
    font-weight: 700;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
    color: #207dff;
}

.site-navbar .site-navigation .site-menu .has-children {
    position: relative;
}

.site-navbar .site-navigation .site-menu .has-children>a {
    position: relative;
    padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children>a:before {
    position: absolute;
    content: "\e313";
    font-size: 16px;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    position: absolute;
    text-align: left;
    border-top: 2px solid #207dff;
    -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.05);
    border-left: 1px solid #edf0f5;
    border-right: 1px solid #edf0f5;
    border-bottom: 1px solid #edf0f5;
    padding: 0px 0;
    margin-top: 20px;
    margin-left: 0px;
    background: #fff;
    -webkit-transition: 0.2s 0s;
    -o-transition: 0.2s 0s;
    transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
    font-size: 16px;
    text-transform: none;
    letter-spacing: normal;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
    transition: 0s all;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active>a {
    color: #207dff !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
    padding: 9px 20px;
    display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover {
    background: #f4f5f9;
    color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:before {
    content: "\e315";
    right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul {
    left: 100%;
    top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a {
    background: #f4f5f9;
    color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children a {
    text-transform: uppercase;
}

.site-navbar .site-navigation .site-menu .has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children:focus>a,
.site-navbar .site-navigation .site-menu .has-children:active>a {
    color: #207dff;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
    cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 0px;
    visibility: visible;
    opacity: 1;
}

.site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
    font-size: 40px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
    color: #25262a;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
    display: inline-block;
    text-transform: uppercase;
    color: #000;
    letter-spacing: .2em;
    font-size: 22px;
    font-weight: 900;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
    text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.site-mobile-menu .site-nav-wrap a {
    padding: 10px 20px;
    display: block;
    position: relative;
    color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
    color: #207dff;
}

.site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block;
}

.site-mobile-menu .site-nav-wrap li.active>a {
    color: #207dff;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 20;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
    background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
    font-size: 18px;
    z-index: 20;
    font-family: "icomoon";
    content: "\e313";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
    -ms-transform: translate(-50%, -50%) rotate(-180deg);
    transform: translate(-50%, -50%) rotate(-180deg);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap>li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}

.site-mobile-menu .site-nav-wrap>li>a {
    padding-left: 20px;
    font-size: 20px;
}

.site-mobile-menu .site-nav-wrap>li>ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
    display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
    padding-left: 40px;
    font-size: 16px;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
    padding: 0;
    margin: 0;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
    display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
    font-size: 16px;
    padding-left: 60px;
}


/* Blocks */

.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background: #f9f9f9;
    position: relative;
    overflow: hidden;
    z-index: 9;
}

.site-blocks-cover.wave {
    position: relative;
}

.site-blocks-cover.wave:after {
    display: none;
    background-image: url("../images/wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    content: "";
    position: absolute;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
}

.site-blocks-cover.half-bg {
    position: relative;
}

.site-blocks-cover.half-bg:before {
    display: none;
    width: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    background: #a2a8d3;
    content: "";
    z-index: -1;
    position: absolute;
}

.site-blocks-cover,
.site-blocks-cover>.container>.row {
    /* min-height: 700px; */
    margin-top: 7vh;
    height: 90vh;
}

.site-blocks-cover.inner-page,
.site-blocks-cover.inner-page .row {
    min-height: 400px;
}

.site-blocks-cover h2 {
    font-size: 14px;
    font-weight: normal;
    color: #000;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.men-main {
    height: 60vh;
    background-image: url("../images/new/men.jpg");
    background-size: cover;
    transition-duration: all 2s;
    /* transition-duration: ; */
}

.men-main:hover {}

@media(max-width:1248px) {
    .site-blocks-cover {
        height: 100%;
    }
}

@media (max-width: 991.98px) {
    .site-blocks-cover .featured-hero-product {
        margin-top: 10%;
        position: absolute;
    }
}

.site-blocks-cover h1 {
    font-size: 50px;
    font-weight: 900;
    color: #000;
    margin-bottom: 30px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .site-blocks-cover h1 {
        font-size: 70px;
    }
}

.site-blocks-cover p {
    color: #333333;
    font-size: 20px;
    line-height: 35px;
}

.site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5;
}

.site-blocks-cover.inner-page .site-block-cover-content {
    margin-top: 20%;
    text-align: center;
}

@media (min-width: 768px) {
    .site-blocks-cover.inner-page .site-block-cover-content {
        margin-top: 30%;
    }
}

@media (max-width: 991.98px) {
    .site-blocks-cover .img-1 {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

.site-blocks-cover .btn {
    padding: 12px 30px;
}

.products,
.product {
    border-left: 1px solid #eee;
}

.products>[class*="col-"],
.product>[class*="col-"] {
    border-right: 1px solid #eee;
    text-align: center;
}

.products .item,
.product .item {
    text-align: center;
    display: block;
    position: relative;
    border-bottom: 1px solid #eee;
}

.products .item .tag,
.product .item .tag {
    position: absolute;
    background: #ffe5ae;
    color: #000;
    letter-spacing: .2em;
    padding: 7px 20px;
    font-size: .8rem;
    font-weight: 900;
    top: 0;
    left: -13px;
    text-transform: uppercase;
    z-index: 2;
    -webkit-transform: rotate(-90deg) translateX(-100%) translateY(-70%);
    -ms-transform: rotate(-90deg) translateX(-100%) translateY(-70%);
    transform: rotate(-90deg) translateX(-100%) translateY(-70%);
}

.products .item img,
.product .item img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    z-index: 1;
    position: relative;
}

.products .item:hover img,
.product .item:hover img {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.products .item .item-info,
.product .item .item-info {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.products .item .item-info h3,
.product .item .item-info h3 {
    color: #000;
    font-size: 1.5rem;
}

@media (max-width: 991.98px) {
    .products .item .item-info h3,
    .product .item .item-info h3 {
        font-size: 1rem;
    }
}

.products .item .item-info .collection,
.product .item .item-info .collection {
    color: gray;
}

@media (max-width: 991.98px) {
    .products .item .item-info .collection,
    .product .item .item-info .collection {
        font-size: .9rem;
    }
}

.products .item .item-info .price,
.product .item .item-info .price {
    color: #000;
    font-size: 1.5rem;
}

.products .item .item-info .price del,
.product .item .item-info .price del {
    color: #adb5bd;
    margin-left: 2%;
}

@media (max-width: 991.98px) {
    .products .item .item-info .price,
    .product .item .item-info .price {
        font-size: 1rem;
    }
}

.site-blocks-1 {
    border-bottom: 1px solid #edf0f5;
}

.site-blocks-1 .divider {
    position: relative;
}

.site-blocks-1 .divider:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    right: 10px;
    background: #edf0f5;
}

.site-blocks-1 .divider:last-child:after {
    display: none;
}

.site-blocks-1 .icon span {
    position: relative;
    color: #6c757d;
    top: -10px;
    font-size: 50px;
    display: inline-block;
}

.site-blocks-1 .text h2 {
    color: #25262a;
    letter-spacing: .05em;
    font-size: 18px;
}

.site-blocks-1 .text p:last-child {
    margin-bottom: 0;
}

.site-blocks-2 .block-2-item {
    display: block;
    position: relative;
}

.site-blocks-2 .block-2-item:before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}

.site-blocks-2 .block-2-item .image {
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
}

.site-blocks-2 .block-2-item .image img {
    margin-bottom: 0;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.site-blocks-2 .block-2-item .text {
    z-index: 2;
    bottom: 0;
    padding-left: 20px;
    position: absolute;
    width: 100%;
}

.site-blocks-2 .block-2-item .text>span,
.site-blocks-2 .block-2-item .text h3 {
    color: #fff;
}

.site-blocks-2 .block-2-item .text>span {
    font-size: 12px;
    letter-spacing: .1em;
    font-weight: 900;
}

.site-blocks-2 .block-2-item .text h3 {
    font-size: 40px;
}

.site-blocks-2 .block-2-item:hover .image img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.car_img {
    height: 50vh;
}

.block-3 .owl-stage {
    padding-top: 40px;
    padding-bottom: 10px;
}

.block-3 .owl-nav .owl-prev,
.block-3 .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2rem;
}

.block-3 .owl-nav .owl-prev {
    left: 0;
}

.block-3 .owl-nav .owl-next {
    right: 0;
}

.block-3 .owl-dots {
    text-align: center;
}

.block-3 .owl-dots .owl-dot {
    display: inline-block;
}

.block-3 .owl-dots .owl-dot>span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    background: #ccc;
}

.block-3 .owl-dots .owl-dot.active>span {
    background: #207dff;
}

.block-3 .product {
    border-right: none !important;
    border-left: none !important;
}

.block-3 .product .item {
    border: 1px solid #eee;
}

.block-4 {
    -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.block-4 .block-4-text h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.block-4 .block-4-text h3 a {
    text-decoration: none;
}

.block-5 ul,
.block-5 ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

.block-5 ul li {
    padding-left: 30px;
    position: relative;
    margin-bottom: 15px;
    color: #25262a;
}

.block-5 ul li:before {
    top: 0;
    font-family: "icomoon";
    content: "";
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 1;
    color: #207dff;
}

.block-5 ul li.address:before {
    content: "\e8b4";
}

.block-5 ul li.email:before {
    content: "\f0e0";
}

.block-5 ul li.phone:before {
    content: "\f095";
}

.block-6 {
    display: block;
}

.block-6 img {
    display: block;
}

.block-6 h3 {
    font-size: 18px;
}

.block-6 p {
    color: #737b8a;
}

.block-7 .form-group {
    position: relative;
}

.block-7 .form-control {
    padding-right: 96px;
}

.block-7 .btn {
    position: absolute;
    width: 80px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 3px;
}

.block-8 .post-meta {
    color: #c4c7ce;
}

.block-8 .block-8-sep {
    margin-left: 10px;
    margin-right: 10px;
}

.site-blocks-table {
    overflow: auto;
}

.site-blocks-table .product-thumbnail {
    width: 200px;
}

.site-blocks-table thead th {
    padding: 30px;
    text-align: center;
    border-width: 1px !important;
    vertical-align: middle;
    color: #212529;
    font-size: 18px;
}

.site-blocks-table td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    color: #212529;
}

.site-blocks-table tbody tr:first-child td {
    border-top: 1px solid #207dff !important;
}

.site-block-order-table th {
    border-top: none !important;
    border-bottom-width: 1px !important;
}

.site-block-order-table td,
.site-block-order-table th {
    color: #000;
}

.site-block-top-search {
    position: relative;
}

.site-block-top-search .icon {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.site-block-top-search input {
    padding-left: 40px;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.site-block-top-search input:focus,
.site-block-top-search input:active {
    padding-left: 25px;
}

.site-block-27 ul,
.site-block-27 ul li {
    padding: 0;
    margin: 0;
}

.site-block-27 ul li {
    display: inline-block;
    margin-bottom: 4px;
}

.site-block-27 ul li a,
.site-block-27 ul li span {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #eee;
    color: #000;
}

.site-block-27 ul li.active a,
.site-block-27 ul li.active span {
    background: #343a40;
    color: #fff;
    border: 1px solid transparent;
}

#slider-range {
    height: 8px;
}

#slider-range .ui-slider-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none !important;
    background: #207dff;
}

#slider-range .ui-slider-handle:focus,
#slider-range .ui-slider-handle:active {
    outline: none;
}

#slider-range .ui-slider-range {
    background-color: #207dff;
}

.color-item .color {
    width: 14px;
    height: 14px;
}

.block-16 figure {
    position: relative;
}

.block-16 figure .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 40px;
    width: 90px;
    height: 90px;
    background: #fff;
    display: block;
    border-radius: 50%;
    border: none;
}

.block-16 figure .play-button:hover {
    opacity: 1;
}

.block-16 figure .play-button>span {
    position: absolute;
    left: 55%;
    top: 50%;
    -webkit-transform: translate(-50%, -45%);
    -ms-transform: translate(-50%, -45%);
    transform: translate(-50%, -45%);
}

.block-38 .block-38-header .block-38-heading {
    color: #000;
    margin: 0;
    font-weight: 300;
}

.block-38 .block-38-header .block-38-subheading {
    color: #b3b3b3;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .1em;
}

.block-38 .block-38-header img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.bag {
    position: relative;
}

.bag .number {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    background: #207dff;
    right: 0px;
}

.search-wrap {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.search-wrap .container {
    position: relative;
    height: 100%;
}

.search-wrap.active {
    opacity: 1;
    visibility: visible;
}

.search-wrap .form-control {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    z-index: 3;
    font-size: 40px;
}

@media (max-width: 991.98px) {
    .search-wrap .form-control {
        font-size: 20px;
    }
}

.search-wrap .search-close {
    z-index: 4;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search-wrap .search-close span {
    font-size: 30px;
}

.title-section h2 {
    padding-left: 30px;
    border-left: 4px solid #207dff;
    display: inline-block;
    color: #000;
}

.title-section.text-center h2 {
    border-left: none;
    position: relative;
    padding-left: 0px;
    padding-bottom: 20px;
}

.title-section.text-center h2:after {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 70px;
    height: 4px;
    background: #207dff;
    content: "";
}

.product-item {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.product-item .product-category {
    position: absolute;
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    color: #000;
    z-index: 8;
    top: 60%;
    left: 50%;
    font-size: 20px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.product-item .product-category span {
    color: #ced4da;
    font-size: 12px;
}

.product-item .product-category:hover {
    background: #000;
    color: #fff;
}

.product-item .product-category:hover span {
    color: rgba(255, 255, 255, 0.5);
}

.product-item.full-height {
    height: 100% !important;
}

@media (max-width: 991.98px) {
    .product-item.full-height {
        height: 300px !important;
        margin-bottom: 30px;
    }
}

.product-item.bg-gray {
    background: #f9f9f9;
}

.product-item.sm-height {
    height: 300px;
    padding: 40px;
}

.product-item.md-height {
    height: 700px;
    padding: 40px;
}

.product-item img {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    -ms-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    position: absolute;
}

.item-entry .product-item {
    margin-bottom: 30px;
}

.item-entry .item-title {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0;
}

.item-entry .item-title a {
    color: gray;
}

.item-entry .item-title a:hover {
    color: #000;
}

.item-entry .item-price {
    color: #000;
    font-weight: normal;
}

.item-entry .item-price del {
    color: #b3b3b3;
}

.custom-border-bottom {
    border-bottom: 1px solid #f9f9f9;
}

.custom-border-top {
    border-top: 1px solid #f9f9f9;
}

.height-auto {
    height: auto !important;
}

.featured-hero-product {
    text-align: center;
}

.featured-hero-product h1,
.featured-hero-product h4 {
    color: #000;
}

.featured-hero-product h1 {
    font-size: 4rem;
    letter-spacing: 1rem;
}

@media (max-width: 991.98px) {
    .featured-hero-product h1 {
        font-size: 2rem;
    }
}

.featured-hero-product h4 {
    font-size: 1rem;
}

.featured-hero-product .price {
    font-size: 2rem;
    color: #000;
}

@media (max-width: 991.98px) {
    .featured-hero-product .price {
        font-size: 1.5rem;
    }
}

.featured-hero-product .price del {
    margin-left: 10px;
    color: #6c757d;
}

.border {
    border: 1px solid #eee !important;
}


/*---------------*/


/***** Jazz *****/


/*---------------*/

figure.effect-jazz {
    background: -webkit-linear-gradient(-45deg, #f3cf3f 0%, #f33f58 100%);
    background: linear-gradient(-45deg, #f3cf3f 0%, #f33f58 100%);
}

figure.effect-jazz img {
    opacity: 0.9;
}

figure.effect-jazz figcaption::after,
figure.effect-jazz img,
figure.effect-jazz p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-jazz figcaption::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    content: '';
    opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
    transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

figure.effect-jazz h2,
figure.effect-jazz p {
    opacity: 1;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
}

figure.effect-jazz h2 {
    padding-top: 26%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-jazz p {
    padding: 0.5em 2em;
    text-transform: none;
    font-size: 0.85em;
    opacity: 0;
}

figure.effect-jazz:hover img {
    opacity: 0.7;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}

figure.effect-jazz:hover figcaption::after {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
    transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
}

figure.effect-jazz:hover h2,
figure.effect-jazz:hover p {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

#logindiv {
    top: 0px;
    left: 0px;
    width: 100vw;
    z-index: 999;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
}

#logindiv .modal {
    display: block;
    position: relative;
    width: 40%;
    top: 10%;
    left: 30%;
    background-color: white;
    border-style: groove;
    border-color: rgb(187, 184, 184);
    border-radius: 10px;
    height: auto;
}

#logindiv .form-group {
    margin-bottom: 2px;
}

@media(min-width:1400px) {
    #logindiv .modal {
        margin-top: 2%;
        width: 30% !important;
        left: 33%;
    }
}

@media(max-width:1200px) {
    #logindiv .modal {
        width: 40% !important;
        left: 35%;
    }
}

@media(max-width:800px) {
    #logindiv .modal {
        width: 80%;
        left: 10%;
    }
}

@media(max-width:450px) {
    #logindiv .modal {
        width: 90%;
        left: 5%;
    }
}

.close {
    font-weight: 700;
    color: black !important;
    opacity: 1;
    transition: 300ms;
    font-size: larger;
}

.close:hover {
    cursor: pointer;
    transform: rotateZ(90deg) scale(1.3) scaleX(1.3);
}

#logindiv form {
    font-weight: 600;
    padding: 1% 5% 5% 5%;
}

.effect-8 {
    border: 1px solid #ccc;
    padding: 7px 14px 9px;
    transition: 0.4s;
    border-radius: 25px;
}

.effect-8~.focus-border:before,
.effect-8~.focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3399FF;
    transition: 0.3s;
}

.effect-8~.focus-border:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
}

.effect-8~.focus-border i:before,
.effect-8~.focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #3399FF;
    transition: 0.4s;
}

.effect-8~.focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
}

.effect-8:focus~.focus-border:before,
.effect-8:focus~.focus-border:after {
    width: 100%;
    transition: 0.3s;
}

.effect-8:focus~.focus-border i:before,
.effect-8:focus~.focus-border i:after {
    height: 100%;
    transition: 0.4s;
}

.detmain {
    height: 60vh !important;
}

.cartdetail .row {
    font-family: sans-serif;
    display: flex;
    justify-content: center !important;
    color: black;
}

.cartdetail h3 {
    font-weight: 300 !important;
    color: rgba(42, 42, 42, 0.816);
}

.removebtn {
    position: absolute;
    top: 2%;
    right: 5%;
    height: 4vh;
    width: 1vw;
    padding-right: 7%;
}

@media(max-width:768px) {
    .removebtn {
        padding-right: 4%;
    }
}

.applybtn {
    font-family: sans-serif;
    cursor: pointer;
    transition: all 400ms;
    color: green;
}

.applybtn:hover {
    transform: translateX(5px);
    color: black;
    font-weight: 400;
}

.review .icon-camera {
    color: #737b8a;
    font-size: 1.7em;
    padding-left: 15%;
    cursor: pointer;
    display: inline;
}

.noticard {
    width: 100%;
}

.unseen {
    background-color: #ebebeb;
}

.malr,
.mr {
    color: #3a8cfe;
    font-weight: 400;
    cursor: pointer;
    transition: all 500ms;
}

.malr:hover {
    font-size: 1.09em;
    color: #0067f8;
    /* transform: scale(1.06); */
}

.notific {
    margin: auto;
    border: 1px solid #5682b5 !important;
    border-radius: 67px;
    font-family: sans-serif;
    transition: all 500ms;
}

.notific:hover {
    transform: scale(1.01);
    box-shadow: 10px 6px 10px 5px grey;
    cursor: pointer;
}

.pndd .row {
    display: flex;
    justify-content: center;
}

.products .img-fluid {
    height: 45vh;
}

.carousel-control-next-icon {
    background-image: url("../images/next.png");
    background-size: cover;
    background-position: center;
    height: 5%;
    width: 20%;
}

.carousel-control-prev-icon {
    background-image: url("../images/next.png");
    background-size: cover;
    background-position: center;
    height: 5%;
    width: 20%;
    transform: scaleX(-1);
}

.pndd .row {
    display: flex;
    justify-content: center;
}

.roundcap {
    border: 1px solid #144282;
    border-radius: 64px;
    overflow: hidden;
    padding-bottom: 20px;
}

.border-top .icon-heart-o {
    cursor: pointer;
    position: absolute;
    top: 5%;
    z-index: 2;
    right: 5%;
    background-color: #0000001f;
    border-radius: 50%;
    padding: 2%;
    color: white;
    transition: 300ms;
}

.list-unstyled li {
    cursor: pointer;
    color: #3a8cfe;
    font-weight: 500;
    font-family: auto;
    font-size: 1.1rem;
}

.liked {
    cursor: pointer;
    position: absolute;
    top: 5%;
    z-index: 2;
    right: 5%;
    background-color: #8B0000 !important;
    border-radius: 50%;
    padding: 2%;
    color: white;
}

.border-top .icon-heart-o:hover {
    background-color: #8B0000;
    box-shadow: 5px 5px 5px grey;
    transform: scale(1.2) translateY(-5px) !important;
}


/* .border-top .icon-heart-o{
  cursor: pointer;
  position: absolute;
  top: 7%;
  z-index: 2;
  right: 10%;
  transition: 500ms;
}
.border-top .icon-heart-o:hover{
  cursor: pointer;
  display: none;
  transform: scale(1.2) !important;
} */

@media(max-width:768px) {
    #filters {
        margin-top: 5vh;
        display: none;
    }
}

@media(min-width:768px) {
    #filterbtn {
        display: none;
    }
}

#loading_area {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    opacity: 0.5;
    height: 100vh;
    width: 100%;
    z-index: 3;
}

#loading_area .spinner-border {
    position: relative;
    top: 40%;
    left: 45%;
}


/* @media(max-width:370px){
  .products .item, .product .item {
    text-align: center;
    width: 129vw !important;
    display: block;
    position: relative;
    border-bottom: 1px solid #eee;
} */


/* Tooltip */

#unametip[data-tip],
#pwdtip[data-tip] {
    position: relative;
}

#unametip[data-tip]:before,
#pwdtip[data-tip]:before {
    content: '';
    display: block;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #be4b49;
    position: absolute;
    top: 68%;
    left: 70%;
    z-index: 999;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    position: absolute;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

#unametip[data-tip]:after,
#pwdtip[data-tip]:after {
    content: attr(data-tip);
    display: block;
    position: absolute;
    top: 35px;
    left: 60%;
    padding: 7px 24px;
    background: #be4b49;
    color: #fff;
    z-index: 999;
    font-size: 1em;
    height: 6vh;
    line-height: 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 27px;
    white-space: nowrap;
    word-wrap: normal;
}

.border-top img {
    width: 100%;
    height: 51vh;
}

@media(max-width:890px) {
    #unametip[data-tip]:after,
    #pwdtip[data-tip]:after {
        left: 40%;
    }
    #unametip[data-tip]:before,
    #pwdtip[data-tip]:before {
        left: 50%;
    }
}

@media(max-width:400px) {
    #unametip[data-tip]:after,
    #pwdtip[data-tip]:after {
        left: 20%;
    }
    #unametip[data-tip]:before,
    #pwdtip[data-tip]:before {
        left: 30%;
    }
}

.message {
    position: fixed;
    bottom: 10%;
    width: 90%;
    left: 5%;
    background-color: #000;
    z-index: 9999;
    color: white;
    padding: 1% 0% 1% 5%;
    opacity: 0.8;
    font-weight: 400;
    font-family: monospace;
    box-shadow: 6px 4px 5px black;
    border-radius: 3px;
    animation-name: message;
    animation-duration: 1s;
}

@keyframes message {
    0% {
        bottom: 0%;
        opacity: 0;
    }
    100% {
        bottom: 10%;
        opacity: 0.8;
    }
}

@media(max-width:768px) {
    #loginbtn,
    #regbtn {
        width: 60%;
    }
}

.selector {
    position: relative;
    padding: 20px;
    width: 100%;
    color: #7e7e7e;
}

.selector ul {
    position: relative;
    display: block;
    overflow: auto;
    min-width: 138px;
    max-height: 200px;
    background: #fff;
    list-style: none;
    white-space: inherit;
    padding-right: 17px;
    width: calc(100% + 17px)
}

.selector li {
    position: relative;
    padding: 3px 20px 3px 25px;
    cursor: pointer
}

.selector li:before {
    position: absolute;
    top: 50%;
    left: 0;
    top: 4px;
    display: inline-block;
    margin-right: 9px;
    width: 17px;
    height: 17px;
    background-color: #f4f4f4;
    border: 1px solid #d5d5d5;
    content: ""
}

.selector li[data-selected="1"]:before {
    border: 1px solid #d7d7d7;
    background-color: #fff
}

.selector li[data-selected="1"]:after {
    position: absolute;
    top: 50%;
    left: 3px;
    top: 11px;
    display: inline-block;
    width: 4px;
    height: 10px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    background: none;
    color: #39c9a9;
    content: "";
    -webkit-transform: rotate(40deg) translateY(-50%);
    transform: rotate(40deg) translateY(-50%)
}

.selector li:hover {
    color: #aaa
}

.selector li .total {
    position: absolute;
    right: 0;
    color: #d7d7d7
}

.selector .price-slider {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-top: 17px
}

@media (min-width: 768px) {
    .selector .price-slider {
        padding-top: 8px
    }
}

.selector .price-slider:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: 0;
    color: #39c9a9;
    content: attr(data-currency);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.selector #slider-range {
    cursor: pointer;
    width: 90%;
    margin-bottom: 30px;
    border: none;
    background: #e2f7f2;
    height: 3px;
    margin-left: 8px;
    margin-right: 8px
}

@media (min-width: 768px) {
    .selector #slider-range {
        width: 100%
    }
}

.selector .ui-slider-handle {
    border-radius: 50%;
    background-color: #39c9a9;
    border: none;
    top: -14px;
    width: 28px;
    height: 28px;
    outline: none
}

@media (min-width: 768px) {
    .selector .ui-slider-handle {
        top: -7px;
        width: 16px;
        height: 16px
    }
}

.selector .ui-slider-range {
    background-color: #d7d7d7
}

.selector .slider-price {
    position: relative;
    display: inline-block;
    padding: 5px 40px;
    width: 40%;
    background-color: #e2f7f2;
    line-height: 28px;
    text-align: center
}

.selector .slider-price:before {
    position: absolute;
    top: 50%;
    left: 13px;
    margin-top: 0;
    color: #39c9a9;
    content: attr(data-currency);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.selector .show-all {
    position: relative;
    padding-left: 25px;
    color: #39c9a9;
    cursor: pointer;
    line-height: 28px
}

.selector .show-all:after,
.selector .show-all:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    margin-top: -1px;
    color: #39c9a9;
    width: 10px;
    border-bottom: 1px solid
}

@media(max-width:1048px) {
    .selector .slider-price {
        width: 100%;
    }
}

#final_cat {
    color: #207dff;
}

.selector .show-all:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.selector.open ul {
    max-height: none
}

.selector.open .show-all:after {
    display: none
}

* {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#not_dot {
    position: relative;
}

#not_dot::after {
    content: 'n';
    color: red;
    background-color: red;
    border-radius: 50%;
    /* height: 50%; */
    font-size: 0.5em;
    width: 4%;
    top: 15px;
    /* bottom: 38%; */
    position: absolute;
}

#logindiv .modal {
    border: none;
    background-color: #b5fff1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='725' height='120.8' viewBox='0 0 600 100'%3E%3Cg stroke='%23ffbbe3' stroke-width='0' stroke-miterlimit='10' %3E%3Ccircle fill='%2348b0a3' cx='0' cy='0' r='50'/%3E%3Ccircle fill='%2392DEBA' cx='100' cy='0' r='50'/%3E%3Ccircle fill='%23b7ffe6' cx='200' cy='0' r='50'/%3E%3Ccircle fill='%23CAF2FF' cx='300' cy='0' r='50'/%3E%3Ccircle fill='%236FCCFF' cx='400' cy='0' r='50'/%3E%3Ccircle fill='%23e9fffa' cx='500' cy='0' r='50'/%3E%3Ccircle fill='%2348b0a3' cx='600' cy='0' r='50'/%3E%3Ccircle cx='-50' cy='50' r='50'/%3E%3Ccircle fill='%236ec7ae' cx='50' cy='50' r='50'/%3E%3Ccircle fill='%23a4eed0' cx='150' cy='50' r='50'/%3E%3Ccircle fill='%23b5fff1' cx='250' cy='50' r='50'/%3E%3Ccircle fill='%239de0fe' cx='350' cy='50' r='50'/%3E%3Ccircle fill='%23a5e9f4' cx='450' cy='50' r='50'/%3E%3Ccircle fill='%239ed7cd' cx='550' cy='50' r='50'/%3E%3Ccircle cx='650' cy='50' r='50'/%3E%3Ccircle fill='%2348b0a3' cx='0' cy='100' r='50'/%3E%3Ccircle fill='%2392DEBA' cx='100' cy='100' r='50'/%3E%3Ccircle fill='%23b7ffe6' cx='200' cy='100' r='50'/%3E%3Ccircle fill='%23CAF2FF' cx='300' cy='100' r='50'/%3E%3Ccircle fill='%236FCCFF' cx='400' cy='100' r='50'/%3E%3Ccircle fill='%23e9fffa' cx='500' cy='100' r='50'/%3E%3Ccircle fill='%2348b0a3' cx='600' cy='100' r='50'/%3E%3Ccircle cx='50' cy='150' r='50'/%3E%3Ccircle cx='150' cy='150' r='50'/%3E%3Ccircle cx='250' cy='150' r='50'/%3E%3Ccircle cx='350' cy='150' r='50'/%3E%3Ccircle cx='450' cy='150' r='50'/%3E%3Ccircle cx='550' cy='150' r='50'/%3E%3C/g%3E%3C/svg%3E");
}

#logindiv .justify-content-between,
{
    font-weight: 700;
}

#registform input {
    border-radius: 25px;
    margin-top: 5%;
    background-color: transparent;
    border-color: rgb(17, 93, 93);
}

#registform input:focus,
#logindiv input:focus {
    box-shadow: 5px 5px 5px 5px rgb(8, 54, 54);
}

#registform input {
    color: rgb(3, 25, 25);
    font-weight: 700;
}

#registform input::placeholder,
#logindiv input::placeholder {
    font-weight: 600;
    color: rgb(17, 93, 93);
}

.rec_row {
    position: relative;
    /* top: 40%; */
}

.rec_cnt {
    position: absolute;
    top: 0px;
    border: none;
}

.rec_cnt2 {
    position: absolute;
    right: 3%;
    /* top: 12px; */
}
.srm{
    margin-top: 12%;
}
#eml:focus .rec_row{
    border-bottom: 2px solid skyblue !important;
}